body {
   /*background-color: lavender;*/
   background-image: url('../images/background.jpg');
/*    font-family: ‘Comfortaa’, cursive;
 */   font-size: 170%;
   padding-top: 50px;
   text-align: justify;
   background-repeat: no-repeat;
   background-size: cover;
   
}

.light-background {
	background-color: #fff;
	opacity: 0.95;

}
.icon {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}

.pointer:hover {
   background-color: #fff !important;
   cursor: pointer;
   cursor: hand;
}
.navbar-pointer:hover {
   background-color: #999 !important;
   cursor: pointer;
   cursor: hand;
}

table {
    margin-top: 1em;
}

.red {
    background-color: RED;
}

.yellow {
    background-color: YELLOW;
}
.green {
    background-color: GREEN;
}
.completed {
    color: GRAY;
    text-decoration: line-through;
}

.incomplete {
    color: BLACK;
    text-decoration: none;
}

.noselect {
    user-select: none;
}

.margin-top {
	margin-top: 5%;
}

tfoot tr {
	font-weight: bold;
}

tfoot td:nth-child(1) {
	text-align: right;
}


.centered {
	margin: auto !important;
	width: 8em;
	text-align: center;
	margin-bottom: 10px !important;
    border: 2px solid black;
}
.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#636363;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}