body {
	font-size: 170%;
	padding-top: 50px;
	text-align: justify;
}

.icon {
	width: auto;
	height: 80px;
	display: block;
	margin: 0 auto;
}

.singleicon {
	width: 250px;
	height: auto;
	padding-left: 40px;
}

.pointer:hover {
	cursor: pointer;
	cursor: hand;
}

.navbar-pointer:hover {
	cursor: pointer;
	cursor: hand;
}

.navbar {
	padding-top: 7px;
	padding-bottom: 7px;
}

table {
	margin-top: 10px;
}

#filter {
	background-color: #fff;
	opacity: 0.95;
	padding: 10px;
	border-radius: 10px;
}

.updated-up {
	background-color: Aquamarine !important;
}

.updated-down {
	background-color: LightCoral !important;
}

.noselect {
	user-select: none;
}

.margin-top {
	margin-top: 5%;
}

.light-background {
	background-color: #fff;
	opacity: 0.97;
	border-radius: 10px;
}

table th:first-child {
	border-radius: 10px 0px 0px 0px;
}

table th:last-child {
	border-radius: 0px 10px 0px 0px;
}

tfoot tr {
	font-weight: bold;
}

tfoot td:nth-child(1) {
	text-align: right;
}

.centered {
	margin: auto !important;
	width: 8em;
	text-align: center;
	margin-bottom: 10px !important;
	border: 2px solid black;
}

.main-login {
	background-color: #fff;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 10px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
	margin-top: 30px;
	margin: 0 auto;
	max-width: 400px;
	padding: 10px 40px;
	background: #0011b5;
	color: #FFF;
	text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

#logincred {
	margin-top: 100px;
}

.glyphicon.spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
     from { transform: scale(1) rotate(0deg); }
     to { transform: scale(1) rotate(360deg); }
 }
 

@-webkit-keyframes spin2 {
     from { -webkit-transform: rotate(0deg); }
     to { -webkit-transform: rotate(360deg); }
 }
 
thead {
	background-color: rgb(0, 129, 185);
	color: white;
	font-family: 'Roboto', sans-serif;
}

th {
	text-align: center;
}

h1 {
	margin-top: -25px;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}

#landinginfo {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.graph {
	background-color: white;
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#showitembuttons {
	margin-top: 15px;
}

.btn-custom {
	background-color: hsl(0, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3d3d",
		endColorstr="#990000");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ff3d3d),
		to(#990000));
	background-image: -moz-linear-gradient(top, #ff3d3d, #990000);
	background-image: -ms-linear-gradient(top, #ff3d3d, #990000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3d3d),
		color-stop(100%, #990000));
	background-image: -webkit-linear-gradient(top, #ff3d3d, #990000);
	background-image: -o-linear-gradient(top, #ff3d3d, #990000);
	background-image: linear-gradient(#ff3d3d, #990000);
	border-color: #990000 #990000 hsl(0, 100%, 22%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
	-webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
	background: #fff5f9;
}

header {
	position: relative; /* child absolute */
	margin: 0 -9999rem;
	/* add back section padding value */
	padding: .25rem 9999rem;
	background: #666;
	background: rgba(0, 0, 0, .5);
	color: white;
	/* font-size: 1.125rem; */
	padding-top: 35px;
	margin-top: -50px;
}

html, body {
	overflow-x: hidden;
}

#stash {
	font-family: 'Courgette', cursive;
	font-size: 450%;
}

#titletag {
	font-family: 'Roboto', sans-serif;
}

.graphMessage {
	text-align: center;
	padding: 10px;
	vertical-align: middle;
	margin: 10px;
}

#navBarLogo {
	font-size: 2em;
}

.navBarFont {
	font-size: 1.3em;
	font-family: 'Courgette', sans-serif;
}

.login-clean {
	background: #f1f7fc;
	padding: 0px;
	margin: 0px;
}

.login-clean form {
	max-width: 320px;
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 4px;
	color: #505e6c;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean .illustration {
	text-align: center;
	padding: 0 0 20px;
	font-size: 100px;
	color: rgb(244, 71, 107);
}

.login-clean form .form-control {
	background: #f7f9fc;
	border: none;
	border-bottom: 1px solid #dfe7f1;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
	text-indent: 8px;
	height: 42px;
}

.login-clean form .btn-primary:hover {
	background: rgba(38, 91, 193, 0.8);
}

.login-clean form .btn-primary {
	background: #1732c1;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none !important;
}

.login-clean form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
	opacity: 1;
	text-decoration: none;
}

div.login-clean {
	background-color: rgba(0, 0, 0, 0);
}

form#loginBox {
	border: solid 1px #001bd5;
}

.graphInLine {
  display: inline-block;
}

#invalid {
	color: red;
}

.errorPage {
	color: white;
	font-size: 400%;
	margin-top: 50px;
	font-family: 'Orbitron', sans-serif;
	position: relative; /* child absolute */
	margin: 0 -9999rem;
	/* add back section padding value */
	padding: .25rem 9999rem;
	background: #666;
	background: rgba(0, 0, 0, .5);
	color: white;
	padding-top: 10px;
}