body {
   /*background-color: lavender;*/
   background-image: url('../images/background.jpg');
   font-family: ‘Comfortaa’, cursive;
   font-size: 170%;
   padding-top: 50px;
   text-align: justify;
   background-repeat: no-repeat;
   background-size: cover;
   
}

.light-background {
	background-color: #fff;
	opacity: 0.95;

}
.icon {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}

.pointer:hover {
   background-color: #fff !important;
   cursor: pointer;
   cursor: hand;
}

table {
    margin-top: 1em;
}

.red {
    background-color: RED;
}

.yellow {
    background-color: YELLOW;
}
.green {
    background-color: GREEN;
}
.completed {
    color: GRAY;
    text-decoration: line-through;
}

.incomplete {
    color: BLACK;
    text-decoration: none;
}

.noselect {
    user-select: none;
}

.margin-top {
	margin-top: 5%;
}

tfoot tr {
	font-weight: bold;
}

tfoot td:nth-child(1) {
	text-align: right;
}