
<div class="container" >
	<header>
		<div class="wrap">
			<h1 class="text-center" id="stash">stashly</h1>
			<p class="text-center" id="titletag">Without us, you're just a hoarder.</p>
		</div>
	</header>
	
	<div class="login-clean">
        <div class="row">
            <div class="col-md-offset-7 col-sm-5">
                <form id="loginBox">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="usernamename" required placeholder="Enter A Username" ng-model="newUser.username"" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" required placeholder="Enter A Password" ng-model="newUser.password" />
                    </div>
                    <div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" ng-click="vm.signup(newUser)">Submit</button>
					</div>
                </form>
            </div>
        </div>
    </div>
	
</div>
