<div>
	<form>
		<input type="text" placeholder="Name" ng-model="item.name"/>
		<input type="text" placeholder="Description" ng-model="item.description"/>
		<select ng-model="item.condition">
			<option ng-repeat="c in vm.conditions" value={{c}}>{{c}}</option>
		</select>
		<select ng-model="item.category.name">
			<option ng-repeat="c in vm.conditions" value={{c}}>{{c}}</option>
		</select>
		<input type="text" placeholder="Purchase Price" ng-model="item.purchasePrice"/>
		<input type="text" placeholder="Purchase Date" ng-model="item.purchaseDate"/>
		<input type="text" placeholder="Image URL" ng-model="item.imageUrl"/>
		<input type="submit" value="Submit" ng-click="vm.create(item)"/>
	</form>
</div>