
<nav class='navbar navbar-inverse navbar-fixed-top'>
	<div class='container'>
		<ul class='nav navbar-nav navBarFont'>
			<li ng-click="vm.markActive($event); vm.viewArchive()"
				class="navbar-pointer"><a href="#/stash" id="navBarLogo">stashly</a></li>
			<li ng-click="vm.markActive($event)" class="navbar-pointer"><a
				href="#/add">add</a></li>
			<li ng-click="vm.markActive($event)" class="navbar-pointer"><a
				href="#/stash">stash</a></li>
			<li ng-click="vm.markActive($event)" class="navbar-pointer"><a
				href="#/archive">archive</a></li>
			<li>
				<form class="navbar-form navbar-left" role="search"
					ng-submit="vm.submit(keywords); keywords=null;">
					<div class="form-group">
						<input ng-model="keywords" type="text" class="form-control"
							placeholder="search">
					</div>
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
			</li>
		</ul>
		<div class="pull-right navBarFont">
			<ul class="nav navbar-nav">
				<li ng-click="vm.logout()" class="navbar-pointer"><a
				href="#/archive">sign out</a></li>
			</ul>
		</div>
	</div>

</nav>
