<navigation>Load nav</navigation>

<div class='container-fluid'>
	<div class="row">
		<div class='col-md-offset-2 col-md-4'>
			<img class='icon' src="{{vm.item.imageUrl}}">
		</div>
		<div class='col-md-4 light-background'>
			<p>Name: {{vm.item.name}}</p>
			<p>Current Value: {{vm.item.currentValue | currency}}</p>
			<p>Purchase Price: {{vm.item.purchasePrice | currency}}</p>
			<p>Purchase Date: {{vm.item.purchaseDate | date: "MM-dd-yyyy"}}</p>
		</div>
	</div>
	<div class="row">
		<div class='col-md-offset-2 col-md-8 text-center'>
			<button type="button" class="btn btn-default" ng-click="vm.()">Return Item to Collection</button>
			<button type="button" class="btn btn-danger" ng-click="vm.()">Delete Item</button>	
		</div>
	</div>
</div>