<navigation></navigation>
<div>
	<form>
		<input type="text" ng-model="vm.editItem.name"/>
		<input type="text" ng-model="vm.editItem.description"/>
		<select ng-model="vm.editItem.condition">
			<option ng-repeat="c in vm.conditions" value={{c}}>{{c}}</option>
		</select>
		<select ng-model="vm.editItem.category" ng-options="cat.name for cat in vm.categories track by cat.name"></select>
		<input type="text" ng-model="vm.editItem.purchasePrice"/>
		<input type="text" ng-model="vm.editItem.purchaseDate"/>
		<input type="text" ng-model="vm.editItem.imageUrl"/>
		<input type="submit" value="Submit" ng-click="vm.update(vm.editItem)"/>
	</form>
</div>