<navigation></navigation>
<!-- <div>
	<form>
		<input type="text" ng-model="vm.editItem.name"/>
		<input type="text" ng-model="vm.editItem.description"/>
		<select ng-model="vm.editItem.condition">
			<option ng-repeat="c in vm.conditions" value={{c}}>{{c}}</option>
		</select>
		<select ng-model="vm.editItem.category" ng-options="cat.name for cat in vm.categories track by cat.name"></select>
		<input type="text" ng-model="vm.editItem.purchasePrice"/>
		<input type="text" ng-model="vm.editItem.purchaseDate"/>
		<input type="text" ng-model="vm.editItem.imageUrl"/>
		<input type="submit" value="Submit" ng-click="vm.update(vm.editItem)"/>
	</form>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading text-center">Edit Your Item</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="name">Name:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="name" name="name"
									ng-model="vm.editItem.name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="description">Description:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="description"
									name="description" ng-model="vm.editItem.description">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="condition">Condition:</label>
							<div class="col-sm-7">
								<select class="form-control btn btn-default dropdown-toggle"
									ng-model="vm.editItem.condition">
									<option ng-repeat="c in vm.conditions" value={{c}}>{{c}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="category">Category:</label>
							<div class="col-sm-7">
								<select class="form-control btn btn-default dropdown-toggle"
									ng-model="vm.editItem.category"
									ng-options="cat.name for cat in vm.categories track by cat.name"></select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="purchasePrice">Purchase
								Price:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="purchasePrice"
									name="purchasePrice" ng-model="vm.editItem.purchasePrice">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="purchaseDate">Purchase
								Date:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="purchaseDate"
									name="purchaseDate" ng-model="vm.editItem.purchaseDate">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="imageURL">Image
								URL:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="imageUrl"
									name="imageUrl" ng-model="vm.editItem.imageUrl">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3 col-md-3" for="imageURL">Notes:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="Notes" name="Notes"
									ng-model="vm.editItem.note">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12 col-md-12">
								<button type="submit" class="btn btn-primary btn-block"
									ng-click="vm.update(vm.editItem)">Submit Changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
