	<div ng-hide="vm.prices.length">
	<h1 class="graphMessage">No price history available.</h1>
	</div>
        <div ng-show="vm.prices.length">
        <div class="graphMessage"><h3><strong>Stash Value</strong></h3></div>
        <div><canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
    <div class="graphMessage"><h5>Update History</h5></div>
 </div>