<div class='container'>
	<div class='row'>
		<div class = 'col-md-offset-2 col-md-8 light-background'>
			<table class = 'table table-bordered'>
				<thead>
				<tr> 
					<th>
					 Icon
					</th>
				
				
					<th>
					 Name 
					</th>
				
				  
					<th>
					 Current Value
					</th>
					<th>
					Purchase Price
					</th>
					<th>
					Purchase Date
					</th>
					
			  </tr>
				</thead>
					<tbody>
					</tbody>
						<tfoot>
						</tfoot>
			</table>
		</div>
	
	</div>




</div>