<navigation>Load nav</navigation>


<div class='container'>
	<div class='row'>
		<div class='col-md-offset-2 col-md-8 light-background'>

			Filter by:<select ng-model="vm.selected"
				ng-options="category.name for category in vm.categories">

			</select>

		</div>
	</div>
	<div class='row'>
		<div class='col-md-offset-2 col-md-8 light-background'>
			<table class='table table-bordered'>
				<thead>
					<tr class='pointer noselect'>
						<th>Icon</th>


						<th ng-click="vm.changeOrderBy('name')">Name</th>

						<th ng-click="vm.changeOrderBy('currentValue')">Current High
							Bid on eBay</th>
						<th ng-click="vm.changeOrderBy('PurchasePrice')">Purchase
							Price</th>
						<th ng-click="vm.changeOrderBy('PurchaseDate')">Purchase Date
						</th>

					</tr>
				</thead>

				<tbody>
					<tr ng-hide="item.retired" class='pointer'
						ng-repeat='item in vm.items | searchByName:vm.keywords | categorySort:vm.selected.name | orderBy: vm.orderBy: vm.reverse'
						ng-click='vm.showItem(item)'>
						<td><img class='icon' src="{{item.imageUrl}}"></td>
						<td>{{item.name}}</td>
						<td ng-class="vm.updated(item)">{{item.currentValue | currency}}</td>
						<td>{{item.purchasePrice | currency}}</td>
						<td>{{item.purchaseDate | date: "MM-dd-yyyy"}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan='2'>Total</td>
						<td>{{vm.currentTotalValue() | currency}}</td>
						<td>{{vm.totalPurchasePrice() | currency}}</td>

						<td><button class="btn btn-lg btn-warning"
								ng-click="vm.updateCurrentValues()">
								Update History <span ng-show="vm.buttonLoad"
									class="glyphicon glyphicon-refresh spinning"></span>
							</button></td>
					</tr>
				</tfoot>
			</table>
			<chart>in chart</chart>

		</div>

	</div>




</div>