<!-- <form>
	Username: <input type="text" ng-model="user.username" /> Password: <input
		type="password" ng-model="user.password" /> <input type="submit"
		value="Login" ng-click="vm.login(user); user={}" />
	<button type="button" ng-click="vm.signup()">Sign Up</button>
</form> -->


<div class="container" >
	<div class="row">
		<div class="col-md-offset-4 col-sm-4">
			<h1 class="text-center">Fungible Rat</h1>
		</div>
	</div>
	<div class="row vertical-align" id="logincred">
		<div class="col-sm-4">
			<div id="landinginfo">Your one stop shop to organize and track the value of your unique collectibles.</div>
		</div>
		<div class="col-md-offset-4 col-sm-4">
			<div class="main-login main-center">
				<form>
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									name="username" id="usernamename"
									placeholder="Enter your Username" ng-model="user.username" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
									type="password" class="form-control" name="password" id="password"
									placeholder="Enter your Password" ng-model="user.password" />
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-default btn-block" ng-click="vm.login(user); user={}">Sign
							In</button>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-default btn-block"
							ng-click="vm.signup()">Sign Up</button>
					</div>
				</form>
				<br>
			</div>
		</div>
	</div>
</div>
