
<div class="container">
	<header>
		<div class="wrap">
			<h1 class="text-center" id="stash">stashly</h1>

			<p class="text-center" id="titletag">Without It You're Just a Hoarder</p>

		</div>
	</header>
	
	<div class="login-clean">
        <div class="row">
            <div class="col-md-offset-7 col-sm-5">
                <form id="loginBox">
                    <div ng-show="vm.error">
						<p id="invalid">
							Invalid username or password
							</p>
					</div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" required placeholder="Username" autofocus="" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" required placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" ng-click="vm.login(user)">Sign In</button>
                    </div>
                    <div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"
							ng-click="vm.signup()">Sign Up</button>
					</div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
</div>
