
<div class="container">
	<header>
		<div class="wrap">
			<h1 class="text-center" id="stash">stashly</h1>

			<p class="text-center" id="titletag">Without It You're Just a Hoarder</p>

		</div>
	</header>
	
	<!-- <div class="row vertical-align" id="logincred">
		<div class="col-md-offset-8 col-sm-4">
			<div class="main-login main-center">
				<form>
					<div ng-show="vm.error">
						<h4>
							Invalid username or password
							</h4>
					</div>
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									name="username" id="usernamename"
									placeholder="Enter your Username" ng-model="user.username" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
									type="password" class="form-control" name="password"
									id="password" placeholder="Enter your Password"
									ng-model="user.password" />
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-custom btn-block"
							ng-click="vm.login(user); user={}">Sign In</button>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-custom btn-block"
							ng-click="vm.signup()">Sign Up</button>
					</div>
				</form>
				<br>
			</div>
		</div>
	</div> -->
	
	
	<div class="login-clean">
        <div class="row">
            <div class="col-md-offset-7 col-sm-5">
                <form id="loginBox">
                    <div ng-show="vm.error">
						<p id="invalid">
							Invalid username or password
							</p>
					</div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" required placeholder="Username" autofocus="" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" required placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" ng-click="vm.login(user); user={}">Sign In</button>
                    </div>
                    <div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"
							ng-click="vm.signup()">Sign Up</button>
					</div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
</div>
